<div class="o-agenda-timeslot-item row">

  <div class="col-md-9">
    <h4 class="o-agenda-timeslot-item--title">
      {{ fields.title.content }}
    </h4>

    <div class="o-agenda-timeslot-item--room">
      {{ fields.room.content }}
    </div>

    <p class="o-agenda-timeslot-item--summary">
      {{ fields.summary.content }}
    </p>

    <div class="o-agenda-timeslot-item--speakers">
      {{ fields.session_speakers.content }}
    </div>
  </div>

  <div class="col-md-3">
    {{ fields.track.content }}
  </div>

</div>